@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.header, .about, .apps1, .apps2, .contacts, .footer {
  padding: 100px 0;
  display: flex;
  min-height: 512px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 10%; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: flex; }

a {
  color: inherit;
  text-decoration: none; }

h2 {
  font-size: 36px;
  line-height: 24px;
  padding: 0 0 20px;
  text-transform: uppercase;
  font-weight: 400; }

.header {
  background-image: linear-gradient(to right, #7F2F4A, #384C85);
  padding: 50px 0; }
  .header .container {
    flex-direction: column; }
  .header__top {
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .header__top {
        border-bottom: none;
        flex-direction: column; } }
    @media screen and (max-width: 515px) {
      .header__top {
        border-bottom: none; } }
  .header__menu {
    flex-basis: 40%; }
    @media screen and (max-width: 768px) {
      .header__menu {
        width: 70%;
        margin: 15px auto; } }
    @media screen and (max-width: 515px) {
      .header__menu {
        display: none; } }
  .header__description h1 {
    color: #FFFFFF;
    line-height: 75px;
    font-size: 50px;
    font-weight: 400; }
  .header__logo {
    padding-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .header__logo {
        border-bottom: 1px solid #FFFFFF;
        text-align: center; } }
  .header__items {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Abel, sans-serif;
    color: #FFFFFF;
    line-height: 24px;
    display: flex;
    justify-content: space-between; }
  .header__item a {
    display: block;
    padding: 0 0 20px; }
  .header__item::after {
    content: "";
    display: block;
    border-bottom: 1px solid #FFFFFF;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 0.5s; }
  .header__item:hover::after {
    transform: scaleX(1); }

.about {
  background-color: #FFFFFF;
  color: #384C85; }
  .about .container {
    justify-content: space-between; }
    @media screen and (max-width: 515px) {
      .about .container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .about .container h2 {
      color: #551A8B; }
  .about__item {
    width: 45%;
    color: #384C85; }

.apps1 {
  color: #FFFFFF;
  background-image: url("images/about.jpeg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  .apps1 .container {
    justify-content: flex-end; }
  .apps1__item {
    width: 45%; }

a {
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  margin-top: 30px;
  display: inline-block;
  padding: 10px 30px; }

.apps2 {
  color: #FFFFFF;
  background-image: url("images/apps2.jpeg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  .apps2 .container {
    justify-content: flex-end; }
  .apps2__item {
    width: 45%; }

a {
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  margin-top: 30px;
  display: inline-block;
  padding: 10px 30px; }

.contacts {
  background-color: #FFFFFF;
  color: #551A8B; }
  .contacts .container {
    justify-content: space-between; }
    @media screen and (max-width: 515px) {
      .contacts .container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .contacts .container h2 {
      color: #551A8B; }
  .contacts__item {
    width: 617px;
    color: #384C85; }

.footer {
  background-color: #384C85;
  color: #FFFFFF;
  min-height: 512px / 2;
  color: #FFFFFF; }
  .footer .container {
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media screen and (max-width: 515px) {
      .footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer .about__item {
    width: 40%;
    color: #FFFFFF; }
  .footer .footer__container-about__item {
    width: 213px;
    height: 44px;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 30px 7px; }

/*# sourceMappingURL=style.css.map */
